<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Store Test Suite">
    <test name="Store Tests">
        <classes>
            <class name="tests.TestReturningPetInventories"/>
            <class name="tests.TestPlaceAnOrder"/>
            <class name="tests.TestPlaceTheOrderAlreadyExists"/>
            <class name="tests.TestGetCertainOrder"/>
            <class name="tests.TestDeletePurchaseOrder"/>
            <class name="tests.TestGetNonExistentOrder"/>
            <class name="tests.TestDeleteNotPurchaseOrder"/>
        </classes>
    </test>
</suite>